* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.logo p {
    word-spacing: 30px;
    color: red;
    font-weight: bold;
}

ul li {
    float: left;
    margin: 30px;
background-color: blue;
}

ul {
    background-color: blue;
    list-style: none;

}
ul li a{
    color: white;
}
nav{
    background-color: blueviolet;
}