
body{
 background-color: beige;   
}
ul{
list-style-type:none;
margin: 0;
padding: 0;
height: 49px;
background-color: blue;
font-family: 'Times New Roman', Times, serif;
line-height: 36px;

}
li{
    float: left;
    /* border-right: 2px solid; */
    border-radius: 10px;
    background: green;
    margin: 5px;

}
#imgbr{
    float: left;
    width: 50px;
}
a{

    text-decoration: none;
padding: 0 28;
color: white;
margin: 15px;

}
li:hover{
     background-color: yellow;
}
a:hover{
    color: blue;
    font-weight: 900;
}
form{
    float: right;
}